name: Get release timelines

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: The version of the release
    secrets:
      RUNWAY_APP_ID:
        required: true
      RUNWAY_API_KEY:
        required: true

jobs:
  get-release-timelines:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub tools repository
        uses: actions/checkout@v5
        with:
          repository: ${{ github.action_repository }}
          ref: ${{ github.action_ref }}
          path: ./.github-tools

      - name: Get release timelines
        env:
          OWNER: ${{ github.repository_owner }}
          REPOSITORY: ${{ github.event.repository.name }}
          VERSION: ${{ inputs.version }}
          RUNWAY_APP_ID: ${{ secrets.RUNWAY_APP_ID }}
          RUNWAY_API_KEY: ${{ secrets.RUNWAY_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: ./.github-tools/.github/scripts/get-release-timelines.sh

      - name: Upload artifact release-timelines-${{ inputs.version }}.csv
        uses: actions/upload-artifact@v4
        with:
          name: release-timelines-${{ inputs.version }}.csv
          path: release-timelines-${{ inputs.version }}.csv
