name: Lint workflows

on:
  workflow_call:

jobs:
  lint-workflows:
    name: Lint workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/7fdc9630cc360ea1a469eed64ac6d78caeda1234/scripts/download-actionlint.bash) 1.7.7
        shell: bash

      - name: Lint workflow files
        env:
          EXECUTABLE: ${{ steps.download-actionlint.outputs.executable }}
        # We need to ignore the expected missing inputs in test-checkout-and-setup.yml
        run: |
          "$EXECUTABLE" -color
        shell: bash
