name: Main

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-workflows:
    name: Lint workflows
    uses: ./.github/workflows/lint-workflows.yml

  build-lint-test:
    name: Build, lint, and test
    uses: ./.github/workflows/build-lint-test.yml

  test-checkout-and-setup:
    name: Test checkout-and-setup
    uses: ./.github/workflows/test-checkout-and-setup.yml

  test-add-team-label:
    name: Test add-team-label
    uses: ./.github/workflows/test-add-team-label.yml
    if: ${{ github.event_name == 'pull_request' }}
    secrets:
      TEAM_LABEL_TOKEN: ${{ secrets.TEAM_LABEL_TOKEN }}

  all-jobs-completed:
    name: All jobs completed
    runs-on: ubuntu-latest
    needs:
      - lint-workflows
      - build-lint-test
      - test-checkout-and-setup
      - test-add-team-label
    outputs:
      PASSED: ${{ steps.set-output.outputs.PASSED }}
    steps:
      - name: Set PASSED output
        id: set-output
        run: echo "PASSED=true" >> "$GITHUB_OUTPUT"

  all-jobs-pass:
    name: All jobs pass
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: all-jobs-completed
    steps:
      - name: Check that all jobs have passed
        env:
          PASSED: ${{ needs.all-jobs-completed.outputs.PASSED }}
        run: |
          if [[ "$PASSED" != "true" ]]; then
            exit 1
          fi
