name: Stable Sync

on:
  workflow_dispatch:
    inputs:
      semver-version:
        required: true
        type: string
        description: 'The semantic version to use for the sync (e.g., x.x.x)'
      repo-type:
        required: false
        type: choice
        description: 'Type of repository (mobile or extension)'
        options:
          - mobile
          - extension
        default: 'mobile'
      stable-branch-name:
        required: false
        type: string
        description: 'The name of the stable branch to sync to (e.g., stable, main)'
        default: 'stable'

jobs:
  stable-sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Stable sync
        uses: ./.github/actions/stable-sync
        with:
          semver-version: ${{ github.event.inputs.semver-version }}
          repo-type: ${{ github.event.inputs.repo-type }}
          stable-branch-name: ${{ github.event.inputs.stable-branch-name }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
